<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<div layout:fragment="content">
  <h3 class="containter-title">말씀등록</h3>
  <form class="row g-3" id="frmWorship" enctype="multipart/form-data">
    <div class="col-md-12">
      <label for="title" class="form-label">말씀주제</label>
      <input type="text" class="form-control" id="title">
    </div>
    <div class="col-12">
      <label for="content" class="form-label">본문말씀</label>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="content"></textarea>
      </div>
    </div>
    <div class="col-6">
      <label for="audioFile" class="form-label">오디오경로</label>
      <div class="input-group">
        <input type="file" class="form-control" id="audioFile" aria-describedby="btnAudio" aria-label="Upload">
      </div>
    </div>
    <div class="col-6">
      <label for="part" class="form-label">예배시간</label>
      <div class="input-group">
        <input type="text" class="form-control" id="part">
      </div>
    </div>
    <div class="col-6">
      <label for="date" class="form-label">날짜</label>
      <div class="input-group">
        <input type="date" class="form-control" id="date">
      </div>
    </div>
    <div class="col-md-4">
      <label for="bible" class="form-label">말씀</label>
      <input type="text" class="form-control" id="bible">
    </div>
    <div class="col-md-4">
      <label for="chapter" class="form-label">장(편)</label>
      <input type="number" class="form-control" id="chapter">
    </div>
    <div class="col-md-2">
      <label for="startVerse" class="form-label">시작절</label>
      <input type="number" class="form-control" id="startVerse">
    </div>
    <div class="col-md-2">
      <label for="endVerse" class="form-label">끝절</label>
      <input type="number" class="form-control" id="endVerse">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check">
        <label class="form-check-label" for="check">
          등록확인
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-primary" onclick="submitForm(validateForm)">등록</button>
    </div>
  </form>
  <script>
    function submitForm() {
      // 폼 객체 가져오기
      const [flag, message] = validateForm();
      if (!flag) {
        alert(message);
        return;
      }

      fetch('/admin/worship', {
        method: 'POST',
        body: message
      })
      .then(response => {
        if (response.ok) {
          console.log("전송 성공");
          // 전송이 성공했을 때 추가적인 처리
        } else {
          console.log("전송 실패");
          // 전송이 실패했을 때 처리
        }
      })
      .catch(error => {
        console.error("오류 발생:", error);
      });
    }
    const validateForm = () => {
      const form = document.getElementById('frmWorship');
      // input, textarea 유효성 검사
      const title = form.title.value;
      const content = form.content.value;
      const audioFile = form.querySelector("#audioFile");
      const bible = form.querySelector('#bible').value.trim();
      const chapter = form.querySelector('#chapter').value.trim();
      const startVerse = form.querySelector('#startVerse').value.trim();
      const endVerse = form.querySelector('#endVerse').value.trim();
      const part = form.querySelector('#part').value.trim();
      const date = form.querySelector('#date').value.trim();
      const check = form.querySelector('#check').checked;

      if (!audioFile.value) {
        return [false, "오디오 파일을 선택해주세요."];
      }

      if (title === '' || content === '' || date === '' || part === '' || bible === '' || chapter === '' || startVerse === '' || endVerse === '') {
        return [false, "모든 내용을 작성해주세요."];
      }

      if (isNaN(parseInt(chapter)) || isNaN(parseInt(startVerse)) || isNaN(parseInt(endVerse))) {
        return [false, "장 및 절은 숫자만 입력해주세요."];
      }

      if (parseInt(chapter) < 0 || parseInt(startVerse) < 0 || parseInt(endVerse) < 0) {
        return [false, "장 및 절은 0 이상의 숫자만 입력해주세요."];
      }

      // 체크박스가 체크되었는지 확인합니다.
      if (!check) {
        return [false, "등록 확인 체크박스를 선택해주세요."];
      }

      if (!String(audioFile.value).endsWith('.mp3')) {
        return [false, "오디오 파일은 mp3 확장자여야 합니다."];
      }

      // 오디오 파일의 크기가 100MB 이하인지 확인합니다.
      const audioFileSize = audioFile.files[0].size; // 파일 크기 (bytes)
      const maxSize = 30 * 1024 * 1024; // 30MB를 bytes로 변환
      if (audioFileSize > maxSize) {
        return [false, "오디오 파일 크기는 30MB 이하여야 합니다."];
      }

      // FormData 객체 생성
      let formData = new FormData();
      formData.append("audio", audioFile.files[0]);

      let verse = {};
      verse.bible = bible;
      verse.chapter = chapter;
      verse.startVerse = startVerse;
      verse.endVerse = endVerse;

      let data = {};
      data.title = title;
      data.content = content;
      data.part = part;
      data.date = date;
      data.verses = [];
      data.verses.push(verse);

      const blob = new Blob([JSON.stringify(data)], {
        type: 'application/json',
      });
      formData.append("worship", blob);
      return [true, formData]; // 예시로 항상 true 반환
    }
  </script>
</div>
</html>