<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<head>
  <!--css,JS 추가영역-->
</head>
<div layout:fragment="content">
  <script>
    const place = {x: 126.962879545714, y: 37.5089706729965};
  </script>
  <h3 class="containter-title">오시는길</h3>

  <div th:replace="fragments/list :: guide"></div>
  <div th:replace="fragments/map :: church"></div>
  <div th:replace="fragments/map :: churchRoadmap"></div>
</div>
</html>