<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<head>
  <!--css,JS 추가영역-->
</head>
<div layout:fragment="content">+
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>youngseok.org은 귀하의 개인 정보를 보호하고 또한 예배에 관련된 자료를 회원들과 공유하는 것을 목적으로 하고 있습니다. </strong><br/>
      <strong>본 youngseok.org 개인 정보 보호 정책은 youngseok.org의 모든 youngseok.org 웹 사이트에 대해 적용되며 서비스에서의 데이터 수집 및 이용에 적용됩니다. </strong><br/>
      <strong>youngseok.org 웹 사이트를 사용함으로써 귀하는 본 정책에 명시된 사항에 동의하게 됩니다. </strong><br/>
      <strong>본 개인 정보 보호 정책은 전체 youngseok.org 사이트 및 서비스에 적용되는 일반 조항으로 이루어 집니다. </strong><br/>
    </li>
  </ul>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <strong>1. 개인정보 관리책임자</strong><br/>
        youngseok.org은 개인정보에 대한 의견수렴 및 불만처리를 담당하는 개인정보 관리책임자를 지정하고 있습니다. 개인정보 관리책임자는 다음과 같습니다.<br/>
        성명 : 장동규<br/>
        전화번호 : 010-3093-4772<br/>
        이메일문의<br/>
    </li>
    <li class="list-group-item">
      <strong>2. 개인 정보의 수집</strong><br/>
      일부 youngseok.org 사이트에서는 귀하의 Email 주소, 성명, 생년월일, 성별 같은 개인 식별 정보를 수집합니다. <br/>
      이와 같은 개인정보들은 youngseok.org 웹 사이트에서만 공유되고 공개될 수 있습니다. <br/>
      이렇게 수집된 정보는 youngseok.org과 그 관리 하에 있는 사이트와 타 회원간의 원활한 의사소통과 커뮤니티의 기능을 위해서만 활용됩니다.<br/>
    </li>
    <li class="list-group-item">
      <strong>3. 개인 정보의 이용</strong><br/>
      youngseok.org 웹 사이트 및 그 서비스 운영 파트너는 youngseok.org 웹 사이트를 운영하고 귀하의 욕구를 측정 분석하고 더 나은 요구에 대응하기 위해서만 활용됩니다. <br/>
      본 사이트의 서비스를 제공하기 위하여 youngseok.org은 각별한 방법으로 보안대책을 강구할 것이며 youngseok.org은 또한 현재의 서비스나 또는 제공될 수 있는 잠재적 신규 서비스와 관련한 귀하의 의견을 듣고자 귀하에게 연락을 취할 수 있습니다.<br/>
      youngseok.org은 제3자에게 고객정보를 판매, 대여 또는 임대하지 아니합니다.<br/>
      youngseok.org 웹 사이트는 <br/>
      (1) 법령 또는 youngseok.org이나 사이트에 송달된 법적 절차를 준수하고<br/>
      (2) youngseok.org 웹 사이트의 권리 또는 재산권을 보호하고 방어하며, 그리고 (3) youngseok.org 사용자, 해당 웹 사이트, 또는 대중의 안전을 위한 절박한 상황에서 그 공개 행위가 필요한 경우 법률에 의하거나 또는 신의 성실에 따라 공개하는 것 이외에는 통보 없이 귀하의 개인 정보를 공개하지 아니할 것입니다.<br/>
    </li>
    <li class="list-group-item">
      <strong>5. 개인정보 수집, 이용, 제공에 대한 동의철회</strong><br/>
      회원가입 등을 통해 개인정보의 수집, 이용, 제공에 대해 귀하께서 동의하신 내용을 귀하는 언제든지 철회하실 수 있습니다. <br/>
      동의철회를 원하시는 경우 위 개인정보 관리책임자에게 연락하시면 개인정보의 삭제 등 필요한 조치를 취하겠습니다.<br/>
    </li>
    <li class="list-group-item">
      <strong>6. 개인정보 보호를 위한 기술적 대책</strong><br/>
      youngseok.org은 권한 외의 액세스, 이용 또는 공개로부터 귀하의 개인 정보를 보호합니다. <br/>
      youngseok.org은 귀하가 컴퓨터 서버상에 제공하는 개인 식별 정보를 권한 외의 액세스, 이용 또는 공개로부터 보호된 관리 안전 환경에서 보호합니다.<br/>
    </li>
    <li class="list-group-item">
      <strong>7. 본 정책에 대한 변경</strong><br/>
      youngseok.org은 회사 및 고객 피드백을 반영하기 위하여 본 개인 정보 보호 정책을 정기적으로 업데이트할 것입니다. youngseok.org은 귀하에게, youngseok.org이 귀하의 정보를 어떻게 보호하는지에 관하여 알 수 있도록 본 정책을 정기적으로 검색해 보시도록 권합니다.<br/>
    </li>
    <li class="list-group-item">
      <strong>8. 이용자 의견</strong><br/>
      youngseok.org은 본 개인 정보 보호 정책에 관한 귀하의 의견을 환영합니다. <br/>
      youngseok.org이 본 정책을 고수하지 않았다고 귀하가 생각하는 경우, 전자 우편을 통해 youngseok.org으로 연락하여 주십시오.<br/>
    </li>
  </ul>
</div>
</html>