<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<head>
  <!--css,JS 추가영역-->
</head>
<div layout:fragment="content">
  <div th:replace="~{fragments/worship :: worship}"></div>
  <div th:replace="~{fragments/worship :: list}"></div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      fetchWorship();
      fetchWorshipList(1);
    });
  </script>
</div>
</html>