<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="img-fluid" src="/images/main/church.png" width="30" height="24" alt="영석교회 아이콘">
                영석교회
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            영석교회
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="info">교회소개</a></li>
                            <li><a class="dropdown-item" href="order">예배시간</a></li>
                            <li><a class="dropdown-item" href="guide">오시는길</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            예배자료
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="worship">말씀</a></li>
                            <li><a class="dropdown-item" href="admin/worship">말씀등록</a></li>
                            <li><a class="dropdown-item" href="#">주보</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>