<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="info">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>주안에서! 만나고 나누고 사귀자! (만 나 사)</strong></li>
    <li class="list-group-item">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1. 우리교회는? </li>
        <li class="list-group-item">대한예수교 장로회(통합)에 소속된 교회로서 1969년 3월 2일에 창립되어 하나님과 이웃을 사랑하는 건강한 교회입니다.</li>
      </ul></li>
    <li class="list-group-item">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">2. 사명선언문 </li>
        <li class="list-group-item">성령 충만으로 그리스도의 제자가 되어 하나님의 선교를 감당하는 사랑의 공동체</li>
      </ul>
    </li>
    <li class="list-group-item">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">3. 교회의 5대 사역(핵심가치)</li>
        <li class="list-group-item">예배</li>
        <li class="list-group-item">교제</li>
        <li class="list-group-item">선교</li>
        <li class="list-group-item">사역</li>
        <li class="list-group-item">성장</li>
      </ul>
    </li>
    <li class="list-group-item">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">4. 5대 비전</li>
        <li class="list-group-item">1.성령의 임재를 경험하는 예배</li>
        <li class="list-group-item">2. 공동체의 덕을 세우는 교제</li>
        <li class="list-group-item">3. 영적인 성숙과 양적인 성장</li>
        <li class="list-group-item">4. 교회와 사회에서의 사역</li>
        <li class="list-group-item">5. 지역과 세계를 품는 하나님의 선교</li>
      </ul>
    </li>
  </ul>
</div>
<div th:fragment="guide">
  <p class="text-center text-muted">서울특별시 동작구 흑석동 서달로15길 8-12</p>
  <p class="text-center text-muted">지하철 : 흑석역 9호선 3, 4번 출구</p>
  <p class="text-center text-muted">버스 : 5524, 5536, 5517, 동작01</p>
</div>
<div th:fragment="order">
  <table class="table">
    <caption>온라인 헌금계좌 : 국민은행 025101-04-249171 (대한예수교장로회영석교회)</caption>
    <tbody>
    <tr>
      <th scope="row" rowspan="6">주일예배</th>
      <td>1부</td>
      <td>오전 9시</td>
      <td>2층 대예배실</td>
    </tr>
    <tr>
      <td>2부</td>
      <td>오전 11시</td>
      <td>2층 대예배실</td>
    </tr>
    <tr>
      <td>유치부, 아동부, 청소년부 통합예배</td>
      <td>오전 11시</td>
      <td>1층 중예배실</td>
    </tr>
    <tr>
      <td>예배 후 부서별 분반 공부</td>
      <td>오전 11시 40분</td>
      <td>각 장소</td>
    </tr>
    <tr>
      <td>찬양예배</td>
      <td>오후 1시 30분</td>
      <td>2층 대예배실</td>
    </tr>
    <tr>
      <td>청년부 모임</td>
      <td>오후 1시 30분</td>
      <td>청년부실</td>
    </tr>
    <tr>
      <th scope="row" rowspan="3">주중예배</th>
      <td>새벽기도회</td>
      <td>오전 5시 30분</td>
      <td>2층 대예배실</td>
    </tr>
    <tr>
      <td>수요예배</td>
      <td>오후 7시 30분</td>
      <td>2층 대예배실</td>
    </tr>
    <tr>
      <td>금요예배</td>
      <td>오후 8시 30분</td>
      <td>2층 대예배실</td>
    </tr>
    </tbody>
  </table>
</div>
</html>