<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<head>
  <!--css,JS 추가영역-->
</head>
<div layout:fragment="content">
  <style>
    body {
      margin: 0 !important;
    }
    .header-container {
      margin: 0 !important;
      height: 0 !important;
    }

    .header-container > div {
      margin: 1rem;
    }
  </style>
  <div th:replace="~{fragments/slide :: main}"></div>
  <div th:replace="~{fragments/worship :: worship}"></div>
  <div th:replace="~{fragments/list :: order}"></div>
  <div th:replace="~{fragments/card :: guide}"></div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      fetchWorship();
    });
  </script>
</div>
</html>