<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <script>
        const sleep = (ms) => {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    </script>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">
        <nav id="navbar" class="navbar">

        </nav><!-- .navbar -->
    </header><!-- End Header -->
    <script>


        const navbar = document.getElementById('navbar');

        if (window.location.pathname == "/") {
            navbar.innerHTML = `<ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">이번주말씀</a></li>
                <li><a class="nav-link scrollto" href="#resume">예배시간</a></li>
                <li><a class="nav-link scrollto" href="#map">찾아오는길</a></li>
                <li class="dropdown"><a href="#"><span>교회정보</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="info">교회소개</a></li>
                        <li><a href="order">예배시간</a></li>
                        <li><a href="guide">오시는길</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>교회자료실</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/worship">말씀</a></li>
                        <li><a href="/bulletin">주보</a></li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>`
        } else {
            document.getElementById('header').style.setProperty("background-color", "rgba(25, 28, 31, 0.8)", "important");
            navbar.innerHTML = `<ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li class="dropdown"><a href="#"><span>교회정보</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="info">교회소개</a></li>
                        <li><a href="order">예배시간</a></li>
                        <li><a href="guide">오시는길</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>교회자료실</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/worship">말씀</a></li>
                        <li><a href="/bulletin">주보</a></li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>`
        }
    </script>
</div>
</html>